name: Ping render

on:
  schedule:
    - cron: "*/12 * * * *"
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping backend
        run: |
          curl --max-time 10 -s -o /dev/null https://bugtracker-5f3w.onrender.com/api/health
